*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
}

.main__content {
    width: 100%;
}

 .main__content--notes {
   margin: 10px 0 10px 30px;
}

.main__content--image2 {
    visibility: visible;
    position: static;
}

.main__content--image {
    visibility: hidden;
    position: fixed;
}

.main__content--update {
    font-weight: 700;
    font-size: 35px;
    color: hsl(234, 29%, 20%);
}

.main__content--note {
    padding: 15px 0;
    font-size: 1rem;
    line-height: 25px;
    font-weight: 500;
    color: hsl(234, 29%, 20%);
}

.container {
    font-size: 1rem;
    color: hsl(234, 29%, 20%);
    display: flex;
    vertical-align: middle;
    padding: 20px 0;
    font-size: 0.9rem;
}

.round-one {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hsl(4, 100%, 67%);
    vertical-align: middle;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.round-two {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hsl(4, 100%, 67%);
    vertical-align: middle;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.round-three {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hsl(4, 100%, 67%);
    vertical-align: middle;
    text-align: center;
    color: white;
}

.check-center {
    text-align: center;
    color: blue;
    font-size: 12px;
}

.container-round {
    vertical-align: middle;
}

.container-paragraph {
    vertical-align: middle;
    padding-left: 14px;
}

.container-product {
    padding-bottom: 33px;
}

.container-measure {
    padding-bottom: 32px;

}

.container-more {
    padding-bottom: 8px;
    vertical-align: middle;
}

.mail{
    font-weight: 600;
}

.Email {
    width: 300px;
    margin: 10px 0;
    padding: 8px 25px;
    height: 50px;
    border-style: none;
    border: 1px solid  hsl(231, 7%, 60%);
    border-radius: 12px;
    color: hsl(231, 7%, 60%);
    cursor: pointer;
}

button {
    width: 300px;
    height: 45px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

button:active {
    background-color: hsl(4, 100%, 67%);
    transition: all 0.2s ease-out;
}

@media (min-width: 761px) {
    body {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        width: 100%;
        height: 100vh;
    }

    .main__content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .main__content--image2 {
        visibility: hidden;
        position: fixed;
    }

    .main__content--image {
        visibility: visible;
        position: static;
        margin: 10px 50px;
    }

    .main__content--notes {
        margin: 0 0 0 60px;
        display: inline-block;
        width: 100%;
    }
    
    .main__content--update {
        font-weight: bold;
        font-size: 50px;
        color: hsl(234, 29%, 20%);
    }

    .main__content--note {
        color: hsl(235, 18%, 26%);
        font-size: 1rem;
    }

    
    .container {
        font-size: 1rem;
        color: hsl(234, 29%, 20%);
        display: flex;
        padding: 10px 0;
        width: 100%;
    }

    .round-one {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: hsl(4, 100%, 67%);
        vertical-align: middle;
        margin-bottom: 35px;
        text-align: center;
        color: white;
    }
    
    .round-two {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: hsl(4, 100%, 67%);
        vertical-align: middle;
        margin-bottom: 35px;
        text-align: center;
        color: white;
    }
    
    .round-three {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: hsl(4, 100%, 67%);
        vertical-align: middle;
        text-align: center;
        color: white;
    }

    .check-center {
        text-align: center;
    }

    .container-round {
        width: 5%;
    }

    .container-paragraph {
        vertical-align: top;
        padding-left: 14px;
        width: 85%;
        padding-bottom: 15px;
    }

    .container-product {
        margin-bottom: 4px;
        padding-bottom: 13px;
    }

    .container-measure {
        margin-bottom: 10px;
        padding-bottom: 13px;
    }

    .container-more {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .mail{
        font-weight: 700;
        padding-bottom: 30px;
    }
    
    .Email {
        margin: 10px 0;
        padding: 8px 25px;
        width: 345px;
        height: 55px;
        border-style: none;
        border: 1px solid  hsl(231, 7%, 60%);
        border-radius: 12px;
        color: hsl(231, 7%, 60%);
        cursor: pointer;
        font-size: 17px;
    }

    button {
        height: 50px;
        width: 345px;
        margin-top: 8px;
        border-radius: 10px;
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
    }
    
    button:hover,
    button:active {
        background-color: hsl(4, 100%, 67%);
        transition: all 0.3s ease-in ease-in;
    }   
}    

@media (min-width: 970px) {
    .container {
        font-size: 1rem;
        color: hsl(234, 29%, 20%);
        display: flex;
        padding: 10px 0;
        width: 100%;
    }

    .round-one {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: hsl(4, 100%, 67%);
        vertical-align: middle;
        margin-bottom: 15px;
    }
    
    .round-two {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: hsl(4, 100%, 67%);
        vertical-align: middle;
        margin-bottom: 15px;
    }
    
    .round-three {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: hsl(4, 100%, 67%);
        vertical-align: middle;
    }

    .check-center {
        text-align: center;
    }

    .container-round {
        width: 5%;
    }

    .container-paragraph {
        vertical-align: top;
        padding-left: 14px;
        width: 85%;
        padding-bottom: 15px;
    }

    .container-product {
        margin-bottom: 4px;
        padding-bottom: 13px;
    }

    .container-measure {
        margin-bottom: 5px;
        padding-bottom: 13px;
    }

    .container-more {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
}
